{% extends "app/base_site.html" %}

{% block title %}  {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="col-xs-6">
    <h3>BACKUP AGENTS</h3>
  </div>
  <div class="col-xs-6">
    <button id="set-pagination"> HIDE PAGINATION CONTROL</button>
    <button> ADD A NEW AGENTS</button>
  </div>
  <div class="col-xs-12 pagination-control">
    <label>SORT BY</label>
    <select>
      <option>HOSTNAME</option>
    </select>
    <label>ORDER</label>
    <a href="#/sort-amount-desc"><i class="fa fa-sort-amount-desc"></i></a>
    <select>
      <option>HOSTNAME</option>
    </select>
  </div>
  <br />
  <div class="col-xs-12 agent-row">
    <span>CUDYN02 </span ><span>CUDYN02.CUAHS1.ORG</span>
    <hr />
    <div class="col-xs-2 control-link">
      <a href="">Manage Recovery Point</a>
      <a href="">Configure Agent Settings</a>
      <a href="">Remove Agent</a>
      <a href="">Show Backup Logs</a>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <td>LAST SUCCESSFUL BACKUP </td>
            <td>8:01pm Jan 26th EST</td>
          </tr>
          <tr>
            <td>CURRENT INTERVAL</td>
            <td>Every 60 minutes</td>
          </tr>
          <tr>
            <td> </td>
            <td>No screenshot avalable</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-2">
      <button>START BACKUP</button>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <td>PROTECT STORAGE</td>
            <td>87.65 GB</td>
          </tr>
          <tr>
            <td>PROTECT VOLUMNS</td>
            <td>D:\ E:\</td>
          </tr>
          <tr>
            <td>LOCAL USED</td>
            <td>90.08 GB</td>
          </tr>
          <tr>
            <td>OS VERSION</td>
            <td>Window server 2012</td>
          </tr>
          <tr>
            <td>AGENT VERSION</td>
            <td>5.5.5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 agent-row">
    <span>CUDYN02 </span ><span>CUDYN02.CUAHS1.ORG</span>
    <hr />
    <div class="col-xs-2 control-link">
      <a href="">Manage Recovery Point</a>
      <a href="">Configure Agent Settings</a>
      <a href="">Remove Agent</a>
      <a href="">Show Backup Logs</a>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <td>LAST SUCCESSFUL BACKUP </td>
            <td>8:01pm Jan 26th EST</td>
          </tr>
          <tr>
            <td>CURRENT INTERVAL</td>
            <td>Every 60 minutes</td>
          </tr>
          <tr>
            <td> </td>
            <td>No screenshot avalable</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-2">
      <button>START BACKUP</button>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <td>PROTECT STORAGE</td>
            <td>87.65 GB</td>
          </tr>
          <tr>
            <td>PROTECT VOLUMNS</td>
            <td>D:\ E:\</td>
          </tr>
          <tr>
            <td>LOCAL USED</td>
            <td>90.08 GB</td>
          </tr>
          <tr>
            <td>OS VERSION</td>
            <td>Window server 2012</td>
          </tr>
          <tr>
            <td>AGENT VERSION</td>
            <td>5.5.5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
