{% extends "app/base_site.html" %}

{% block title %} Config Agent {% endblock title %}
{% load staticfiles%}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="x_panel">
                <div class="x_content">
                  <br />
                    <ul class="nav nav-pills nav-stacked">
                      <li><a href="#token">Token</a></li>
                      <li><a href="#key">Key</a></li>
                      <li><a href="#pause-backup">Backup</a></li>
                      <li><a href="#schedule-backup">Schedule Backup</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-9">
          <div class="x_panel">
            <div class="x_title">
              <h3>CONFIG AGENT SETTING FOR</h3>
            </div>
            <div class="x_content">
              <div class="section" id="token">
                <h3 class="title">Token</h3>
                <p class="description">Token to authentication</p>
                <div>
                  <code id="myToken">{{ computer.token }}</code>
                  <i class="fa fa-copy" onclick="myFunction('myToken')"></i>
                </div>
              </div>

              <div class="section" id="key">
                <h3 class="title">Key</h3>
                <p class="description">Symmetric-key cryptography</p>
                <div>
                  <code id="myKey">{{ computer.key }}</code>
                  <i class="fa fa-copy" onclick="myFunction('myKey')"></i>
                </div>
              </div>
              <br>
              <div class="ln_solid"></div>
              
              <div class="section" id="pause-backup">
                <h3 class="title">Backups</h3>
                <p class="description">Toggle local backups for this agent between enabled and disabled . Preferences for backup interval and backup schedule will be preserved</p>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" class="backupstatus flat" value="True" name="localBackup"> Enable
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" class="backupstatus flat" value="False" name="localBackup"> Disable
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      
                    <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                  </div>
                </form>
              </div>
              <br>
              <div class="ln_solid"></div>
              
              <div class="section" id="schedule-backup">
                <h3 class="title">Schedule Backup</h3>
                <p class="description"></p>
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#backupPointModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Backup point
                    </button>
                </div>
                <table id="schedule_table" class="table" style="width:90%">
                  <thead>
                      <tr>
                          <th>Backup point</th>
                          <th>Next backup</th>
                          <th>Server</th>
                          <th>Type of backup</th>
                          <th>Status</th>
                          <th>Operator</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for schedule in schedules %}
                      {% if schedule.status != 0 %}
                      <tr>
                        <td>{{ schedule.path }}</td>
                        <td>{{ schedule.time }}</td>
                        <td>{{ schedule.ip_server }}</td>
                        <td>{{ schedule.get_typeofbackup_display }}</td>
                        <td>{{ schedule.get_status_display }}</td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#edit{{schedule.id}}Modal"><i class="fa fa-pencil"></i> Edit </a>

                            <a class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?');" 
                            href="{% url 'schedule_delete' schedule.id %}">
                                    <i class="fa fa-trash-o"></i> Delete
                            </a>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="backupPointModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content - add host -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Backup Point</h4>
      </div>
      <div class="modal-body">
        <form id="formschedule" data-parsley-validate class="form-horizontal form-label-left" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="path">Backup point
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="path" name="path" class="form-control col-md-7 col-xs-12" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time">Type of backup</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="typeofbackup" id="typeofbackup">
                  <option value='0' selected="selected">Once</option>
                  <option value='1'>Daily</option>
                  <option value='2'>Weekly</option>
                </select>
            </div>
          </div>
          
          <div class="form-group" id="datetime-div">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Time</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control"  id="datetime" name="datetime" required/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group" id="day-div">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Day</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" multiple="multiple" name="dayofweek" id="day_select">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
              </select>
            </div>
          </div>

          <div class="form-group" id="time-div">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time">Time</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class='input-group date' id='timepicker1'>
                    <input type='text' id="time" name="time" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time">Server backup</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="server-backup">
                  {% for svr in serverlist %}
                  <option value={{ svr }}>{{ svr }}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script>
      var status = "{{ computer.status }}";
      $(".backupstatus").each(function() {
        if ($(this).val() == status){
          $(this).prop('checked', true);
        }
      });
  </script>
  <script src="{% static '/build/js/config_agent.js' %}"></script>
{% endblock javascripts %}
