{% extends "app/base_site.html" %}

{% block title %} R {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Support contact</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask" action="{% url 'contact' %}" method="post">
              {% csrf_token %}
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" name="first_name" id="first_name"
                         value="{{ data_contact.first_name }}" placeholder="First Name">
                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" name="last_name" id="last_name"
                         value="{{ data_contact.last_name }}" placeholder="Last Name">
                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control has-feedback-left" name="email" id="email"
                         value="{{ data_contact.email }}" placeholder="Email">
                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <input type="text" class="form-control" name="phone" id="phone"
                         value="{{ data_contact.phone }}" placeholder="Phone">
                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Organization</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="organization" id="organization"
                           value="{{ data_contact.organization }}" placeholder="Default Input">
                  </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
  		            <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Account</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                  <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Last Login</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in user_list %}
                    <tr>
                      <td><div class="fa fa-user"></div> {{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.last_name }}</td>
                      <td>{{ user.last_login }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>


      </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
