{% extends "app/base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/build/css/dashboard.css">
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
                <h2>OVERVIEW</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
          <div class="x_content">
            <div class="info-row">
                <div class="col-lg-4 col-md-12">
                  <label>DEVICE SERIAL</label>
                  <span>1231237124</span>
                </div>
                <div class="col-lg-4 col-md-12">
                  <label>VERSION IDevice/SpeedSyncl</label>
                  <span>3.69.9/3.0.2</span>
                </div>
                <div class="col-lg-4 col-md-12">
                  <label>OFFSITE SYNC SPEED</label>
                  <span>1843 KB/s</span>
                </div>
            </div>

            <div class="info-row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label>DEVICE IP ADDRESS</label>
                  <span>{{ ip }} ({{ ip_type }})</span>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label>LAST CHECKIN[Click to Force ]</label>
                  <span> 7 Minutes Ago</span>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <label>LAN LINK SPEED </label>
                  <span>1000 Base T</span>
                </div>
            </div>

            <div class="info-row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label>TOTAL PROTECT DATA </label>
            <span>{{ total_protect_data }} GB</span>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <label>OFFSITE SERVER </label>
            <span>198.49.95.50</span>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="col-sm-6 col-xs-12">
              <label>AGENTS</label>
              <span> {{ agents_count }}</span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <label>SHARES </label>
              <span>1</span>
            </div>
          </div>
      </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 local-storage-useage">
        <div class="x_panel">
          <div class="x_title">
                <h2>LOCAL STORAGE USAGE</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            <div class="x_content">
              <div class="col-md-5 col-sm-12 canvas-container">
            <div class="x_content">
              <canvas id="canvasDoughnut"></canvas>
            </div>
        </div>
              <div class="col-md-7 col-sm-12 col-xs-12 scrollable">
          <table class="table">
            <thead>
              <tr>
                <th>HOST</th>
                <th>USED</th>
              </tr>
            </thead>
            <tbody>
              {% for disk in disk_used %}
              <tr>
                <td>{{ disk.name }}</td>
                <td>{{ disk.used_disk }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
            </div>
          </div>
        </div>
      <div class="col-md-6 col-xs-12 replication-status">
        <div class="x_panel">
          <div class="x_title">
                <h2>REPLICATION STATUS</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            <div class="x_content">
              <table class="table">
                <tbody>
                  <tr>
                    <td>LOCAL FREE</td>
                    <td>Last synced 1:00pm Friday 1/26/18 1:00pm</td>
                  </tr>
                  <tr>
                    <td>OFFSITE TRANSFER FILE</td>
                    <td>Last synced 1:00pm Friday 1/26/18 1:00pm</td>
                  </tr>
                  {% for sync in last_syncs %}
                  <tr>
                    <td>{{ sync.name }}</td>
                    <td>Last synced {{ sync.last_sync_time }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
                <h2>LOCAL AGENT INFOMATION</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
          <div class="x_content">
            <table class="table">
          <thead>
            <th>SERIAL</th>
            <th>HOSTNAME</th>
            <th>NETWORK ADDR</th>
            <th>OS</th>
            <th>CPUS</th>
            <th>RAM</th>
            <th>AGENT VERSION</th>
          </thead>
          <tbody>
            {% for agent in agents %}
            <tr>
              <td>{{ agent.serial_number }}</td>
              <td>{{ agent.name }}</td>
              <td>{{ agent.ip_address }}</td>
              <td>{{ agent.os }}</td>
              <td>{{ agent.cpu }}</td>
              <td>{{ agent.ram }} MB</td>
              <td>{{ agent.agent_version }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
         <div class="x_panel">
          <div class="x_title">
                <h2>LOCAL SHARE INFOMATION</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
          <div class="x_content">
            <table class="table">
          <thead>
            <th>SHARENAME</th>
            <th>LASTED SNAPSHOT</th>
            <th>SNAPSHOT STORAGE</th>
            <th>NAS STORAGE</th>
            <th>TOTAL STORAGE</th>
          </thead>
          <tbody>
            <tr>
              <td>DEMO</td>
              <td>DEMO</td>
              <td>DEMO</td>
              <td>DEMO</td>
              <td>DEMO</td>
            </tr>
          </tbody>
        </table>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
