{% extends "app/base_site.html" %}

{% block title %} Offsite {% endblock title %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Server off-site </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                  </a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">IP address</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" class="form-control"
                           data-inputmask="'mask': '9[99].9[99].9[99].9[99]'" name='ip_offsite' value="{{ ip_offsite }}">
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Apply</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="x_panel">
            <div class="x_title">
              <h2>Off-site sync bandwidth limit </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Transmit Limit</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" class="form-control" name='speed_limit' value="{{ speed_limit }}">
                    <span class="form-control-feedback right" aria-hidden="true">KBps</span>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Apply</button>
  		            <button class="btn btn-primary" type="reset">Start Speed Test</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Rate of change</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>SYSTEM</th>
                    <th>DAILY</th>
                    <th>WEEKLY</th>
                  </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{ daily_total }} GB</td>
                        <td>{{ weekly_total }} GB</td>
                    </tr>
                </tfoot>
                <tbody>
                {% for item in data_change %}
                  <tr>
                    <td>{{ item.computer }}</td>
                    <td>{{ item.daily }} GB</td>
                    <td>{{ item.weekly }} GB</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jquery.inputmask -->
  <script src="{% static '/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
{% endblock javascripts %}
