{% extends "app/base_site.html" %}

{% block title %} R {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                      <h2>Summary</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-xs-3">Host name: <b>{{ agent.name }}</b></div>
                        <div class="col-md-3 col-xs-3">Enable backup: <b>{{ agent.status }}</b></div>
                        <br><br>
                        <div class="fa col-md-3 col-xs-3">Data used : </div>
                        <br>
                        <ul>
                            {% for server in servers %}
                            <li>
                                Server : {{ server.domain }} protect <label>{{ server.data_used | floatformat }} MB </label>
                            </li>
                            {% endfor %}
                            <li>Total : <label>{{ total_data | floatformat}} MB</label></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-xs-3">
                            <label for="">Show :</label>
                            <div class="btn-group">
                                <button class="btn btn-primary" type="button">All</button>
                                <button class="btn btn-default" type="button">Server 1</button>
                                <button class="btn btn-default" type="button">Server 2</button>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-5"></div>
                        <div class="col-md-3 col-xs-3">
                            <div class="btn-group">
                                <button class="btn btn-danger" type="button">Delete all server 1</button>
                                <button class="btn btn-danger" type="button">Delete all server 2</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_content">
                      <table  id="recover_point" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                              <th>Time</th>
                              <th>Path</th>
                              <th>Server</th>
                              <th>Status</th>
                              <th>New data protected</th>
                              <th>Option</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for sync in syncs %}
                            <tr>
                                <td>{{ sync.sync_time }}</td>
                                <td>{{ sync.path }}</td>
                                <td>{{ sync.ip_server }}</td>
                                <td>{{ sync.status }}</td>
                                <td>{{ sync.amount_data_change | floatformat:3 }} MB</td>
                                <td><a href="{% url 'sync_delete' sync.id %}" class="btn btn-warning" value="Delete">DELETE</a></td>
                            </tr>
                         {% endfor %}
                        </tbody>
                      </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#recover_point').DataTable({
        "order": [[ 0, "desc" ]]
    });
  } );
  </script>
  <!-- DateJS -->
  <!-- <script src="/static/vendors/DateJS/build/date.js"></script> -->

{% endblock javascripts %}

